<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WEBCAM</title>
    <style>
#my_camera{
 width: 600px;
 height: 500px;
 border: 1px solid black;
}
</style>
  </head>
  <body>
<div>
  <div id="my_camera"></div>
  <div id="results" ></div>
</div>

<!-- Script -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>

<!-- Code to handle taking the snapshot and displaying it locally -->
<script language="JavaScript">

 // Configure a few settings and attach camera
 Webcam.set({
  width: 600,
  height: 500,
  image_format: 'jpeg',
  jpeg_quality: 100
 });
Webcam.attach( '#my_camera' );
function take_snapshot() {
 Webcam.snap( function(data_uri) {
 document.getElementById('results').innerHTML =
  '<img src="'+data_uri+'"/>';
  imgArr.push(data_uri);
 } );

}

let count = 0;
let imgArr = [];
  var myvar = setInterval(function(){
    if(Webcam.loaded){
      if(count==1){
        clearInterval(myvar);
        console.log(imgArr);
        let x = sendData();
        console.log(x);
      }
      take_snapshot()
      count++;
    }
  },500);
async function sendData(){
  json = null;
  await fetch('http://54.184.226.185:5000/index', {
    method: 'POST',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(imgArr)
  })
  .then((response) => response.json())
  .then((responseJSON) => {
     json = responseJSON;

     return json;
  }).catch(err =>{
      json = err;
      return json;
  });
  Webcam.reset()
}
</script>
  </body>
</html>